/* style nav */
body {
    min-width: 350px;
    font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
}

.small-nav {
    background: black;
    color: white;
    font-size: 12px;
    line-height: 20px;
}

.big-nav {
    position: relative;
    clear: left;
    color: #aaa;
    font-weight: 500;
    font-size: 14px;
}

li {
    float: left;
    margin: 5px 10px;
}

.big-nav li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-search {
    margin-right: 10px;
}

.hidden {
    display: none;
}

.right {
    float: right;
}

/* style main content */
.content {
    color: white;
    display: flex;
    margin: 0 10px;
}

.big {
    position: relative;
    background: linear-gradient(to bottom,
                                rgba(120,122,120,0.38) 0%,
                                rgba(100,100,100,0.45) 33%,
                                rgba(0,0,0,1) 100%),
                                url(../assets/images/cover.png);
    height: 500px;
    flex: 2;
}

.big .head {
    display: flex;
    justify-content: space-between;
}

.big .head h1 {
    font-size: 5em;
    margin: 10px;
}

.big .head p {
    font-size: 14px;
    margin: 10px;
}

.big .body {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
}

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.small {
    flex: 0 49%;
    width: 95%;
    background: linear-gradient(to bottom,
                                rgba(120,122,120,0.38) 0%,
                                rgba(100,100,100,0.45) 33%,
                                rgba(0,0,0,1) 100%),
                                url(../assets/images/ear.jpeg) no-repeat;
    background-size: cover;
    position: relative;
}

.small > * {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

/* style news */
.news h3, .deals h3 {
    color: #f42;
    font-size: 30px;
}

.news-content {
    margin: auto 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new {
    position: relative;
    height: 200px;
    margin-bottom: 20px;
    flex: 0 24%;
    font-size: 14px;
}

.new a, .deal a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    height: 80%;
    background: linear-gradient(to bottom,
                                rgba(120,122,120,0.38) 0%,
                                rgba(100,100,100,0.45) 33%,
                                rgba(0,0,0,1) 100%),
                                url(../assets/images/ear.jpeg) no-repeat;
    background-size: contain;
 }

.new div {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}
/* style categories */
.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category {
    height: 700px;
    margin: 10px 0;
    flex: 0 31%;
    font-size: 14px;
    color: #aaa;
}

.category h4 {
    color: #f42;
    font-size: 30px;
}

.category a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-left: 10px;
    height: 300px;
    background: linear-gradient(to bottom,
                                rgba(120,122,120,0.38) 0%,
                                rgba(100,100,100,0.45) 33%,
                                rgba(0,0,0,1) 100%),
                                url(../assets/images/sato.jpeg) no-repeat;
    background-size: contain;
}
/* style deals */
.deals-content {
    margin: 20px;
}

.deal {
    flex: 0 24%;
    height: 250px;
    margin-bottom: 20px;
    font-size: 14px;
}

.deal div {
    padding: 20px 0;
}
.deal span {
    text-decoration: line-through;
}
/* style footer */
footer {
    clear: both;
    color: white;
}

.social {
    background: #302e2e;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    padding: 30px;
}

.social ul {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footnote {
    padding: 40px;
    background: black;
    text-align: center;
    clear: left;
}

/* add media queries */
@media (max-width: 800px) {
    /* style nav */
    .small-nav li{
        display: none;
    }

    .big-nav li{
        display: none;
    }

    .big-nav .right {
        display: block;
        margin: 0;
        padding: 10px;
        border-left: 1px solid gray;
    }

    .big-nav .tnw {
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        color: white;
        margin: 0;
        position: absolute;
        width: 100px;
        height: 100%;
        top: 0;
        left: 0;
    }

    /* style content */
    .content {
        display: block;
    }

    .content * {
        display: block;
    }

    .small {
        height: 250px;
        width: 100%;
    }

    .big {
        height: 250px;
    }

    /* style news */
    .wrapper {
        justify-content: flex-start;
    }
    .new {
        flex: 0 30%;
        margin: 10px;
    }

    /* style categories */
    .categories {
        justify-content: flex-start;
    }
    .category {
        margin-left: 1%;
        margin-right: 1%;
        flex: 1 47%;
    }

    .category:last-child {
        flex-grow: 0;
    }


    /* style deals */
    .deal {
        flex: 0 30%;
        margin: 10px;
    }
}

@media (max-width: 700px) {
    .categories {
        display: block;
    }
    .wrapper {
        display: block;
    }
}