/* style nav */
nav {
    background: pink;
    display: flex;
    flex-direction: column;
}

.small-nav {
    background: black;
    color: white;
}

.big-nav {
    position: relative;
    clear: left;
    color: gray;
}

li {
    float: left;
    margin: 5px 10px;
}

.big-nav li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-search {
    margin-right: 10px;
}

.hidden {
    display: none;
}

.right {
    float: right;
}

/* style main content */
.content {
    background: indianred;
    display: flex;
    /*flex-wrap: wrap;*/
}

.big {
    background: yellow;
    height: 500px;
    flex: 2;
}

aside {
    flex: 1;
}

.small {
    background: darkcyan;
    height: 250px;
}

/* style news */
.news {
    background: pink;
}

.news-content {
    margin: auto 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new {
    background: darkcyan;
    height: 200px;
    margin-bottom: 20px;
    flex: 0 21%;
}

/* style categories */
.categories {
    background: yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category {
    background: deepskyblue;
    height: 700px;
    margin: 10px;
    flex: 0 30%;
}

/* style deals */
.deals-content {
    margin: 20px;
    background: lightcyan;
}

.deal {
    background: indianred;
    flex: 0 22%;
    height: 250px;
    margin-bottom: 20px;
}
/* style footer */
footer {
    background: darkcyan;
    clear: both;
    color: white;
}

.social {
    background: #302e2e;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    padding: 30px;
}

.social ul {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footnote {
    padding: 40px;
    background: black;
    text-align: center;
    clear: left;
}

/* add media queries */
@media (max-width: 800px) {
    /* style nav */
    .small-nav li{
        display: none;
    }

    .big-nav li{
        display: none;
    }

    .big-nav .right {
        display: block;
        margin: 0;
        padding: 10px;
        border-left: 1px solid gray;
    }

    .big-nav .tnw {
        display: block;
        background: black;
        margin: 0;
        position: absolute;
        width: 100px;
        height: 100%;
        top: 0;
        left: 0;
        /*height: 40px;*/
    }

    /* style content */
    .content {
        display: block;
    }

    .big {
        height: 250px;
    }

    /* style news */
    .wrapper {
        justify-content: flex-start;
    }
    .new {
        flex: 0 30%;
        margin: 10px;
    }

    /* style categories */
    .categories {
        justify-content: flex-start;
    }
    .category {
        flex: 0 47%;
    }

    /* style deals */
    .deal {
        flex: 0 30%;
        margin: 10px;
    }
}

@media (max-width: 700px) {
    .categories {
        display: block;
    }
}
